[submodule "submodules/angularjs"]
	path = submodules/angularjs
	url = https://github.com/kelp404/angularjs.git
	ignore = dirty
[submodule "submodules/jquery"]
	path = submodules/jquery
	url = https://github.com/kelp404/jquery.git
	ignore = dirty
[submodule "submodules/angular-validator"]
	path = submodules/angular-validator
	url = https://github.com/kelp404/angular-validator.git
	ignore = dirty
