<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>angular-form-builder</title>
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="example/site.css"/>
    <link type="text/css" rel="stylesheet" href="dist/angular-form-builder.css"/>
    <script type="text/javascript" src="submodules/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="submodules/angularjs/angular.1.2.3.min.js"></script>
    <script type="text/javascript" src="dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="dist/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="submodules/angular-validator/dist/angular-validator.js"></script>
    <script type="text/javascript" src="submodules/angular-validator/dist/angular-validator-rules.js"></script>
    <script type="text/javascript" src="example/demo.js"></script>
</head>
<body class="container">
    <div class="row" ng-controller="BuilderController">
        <h1>angular-form-builder</h1>
        <hr/>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builder</h3>
                </div>
                <div fb-builder="default"></div>
                <div class="panel-footer">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="isShowScope" />
                            Show scope
                        </label>
                    </div>
                    <pre ng-if="isShowScope">{{form}}</pre>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div fb-components></div>
        </div>
    </div>

    <div class="row" ng-controller="FormController">
        <h2>Form</h2>
        <hr/>
        <form class="form-horizontal">
            <div ng-model="input" fb-form="default"></div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input type="submit" ng-click="submit()" class="btn btn-default"/>
                </div>
            </div>
        </form>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="isShowScope" ng-init="isShowScope=true" />
                Show scope
            </label>
        </div>
        <pre ng-if="isShowScope">{{input}}</pre>
    </div>

    <div class="row">
        <div class="col-md-12 footer"></div>
    </div>

    <a href="https://github.com/kelp404/angular-form-builder" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>
