
@import "compass/css3";


.fb-component, .fb-form-object {
    padding: 10px;
    cursor: move;
    input { cursor: move; }
    label { cursor: move; }
}
.fb-form-object.empty {
    cursor: default;
    margin: 6px;
    height: 80px;
    border:dashed 1px #aaa;
    background-color: #eee;
}

.fb-draggable.dragging {
    background-color: #ffffff;
    position: absolute;
    z-index: 800;
    @include box-shadow(#666 0 0 20px);
}

.fb-builder {
    min-height: 250px;
}


.popover {
    .control-label {
        text-align: left;
    }
    form {
        width: 300px;
    }
}
